[submodule "ut-master-thesis"]
	path = ut-master-thesis
	url = git@github.com:osingaatje/ut-master-thesis.git
[submodule "typst-template-ut"]
	path = typst-template-ut
	url = ssh://git@codeberg.org/drwr/typst-template-ut.git
